<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646379856639-aml1v59cmi535kga9ojqi53l84rrvldd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646379856639-aml1v59cmi535kga9ojqi53l84rrvldd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>646379856639-ho3tvdnvjc54g6kbejbjtgjdis75mtpn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXpTr7F_-ZmQg12FA3qUP_kOg5KA7Dj_o</string>
	<key>GCM_SENDER_ID</key>
	<string>646379856639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codiano.eboro</string>
	<key>PROJECT_ID</key>
	<string>eboro-24b2e</string>
	<key>STORAGE_BUCKET</key>
	<string>eboro-24b2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646379856639:ios:40115af609a98640e2a2ca</string>
</dict>
</plist>